# Enforce LF line endings for scripts and code
* text=auto eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.go text eol=lf

# Binaries
/bin/* binary
*.exe binary
*.bin binary
